<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    #portfolioImg {
        height: 408.95px;
        width: 255px;
    }
</style>

<!-- breadcrumb area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>Games</h1>
                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb area end -->
<!-- portfolio section start -->
<section class="portfolio-area pt-60" style="padding-bottom: 60px;">
    <div class="container">
        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="section-title">
                    <h1><i class="icofont icofont-game"></i> Explore Video Games</h1>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        <li data-filter=".all" class="active">All Games</li>
                        <li data-filter=".top">Top Rated</li>
                        <li data-filter=".new">New Released</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="row portfolio-item">
                    {% if all %}
                    {% for game in all %}
                    <div style="max-height: 520px;" class="col-md-3 col-sm-6 all">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <a href="javascript:{document.getElementById('{{game.title}}').submit()}">
                                    <img id="portfolioImg" src="../../{{ game.coverimage }}" alt="portfolio" />
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h3>{{ game.title }}</h3>
                                <p style="color: rgb(118, 49, 246);">Point: {{ game.rating }} | 5.0 -
                                    {{game.publishyear}}</p>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'gamedetail' game.title%}" method="post" id="{{game.title}}"
                        style="display:none;">
                        {%csrf_token%}
                        <input type="hidden" name="userid" value="{{ user.id }}">
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="row portfolio-item">
                    {% if fav %}
                    {% for game in fav %}
                    <div style="max-height: 520px;" class="col-md-3 col-sm-6 top">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <a href="javascript:{document.getElementById('{{game.title}}').submit()}">
                                    <img id="portfolioImg" src="../../{{ game.coverimage }}" alt="portfolio" />
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h3>{{ game.title }}</h3>
                                <p style="color: rgb(118, 49, 246);">Point: {{ game.rating }} | 5.0 -
                                    {{game.publishyear}}</p>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'gamedetail' game.title%}" method="post" id="{{game.title}}"
                        style="display:none;">
                        {%csrf_token%}
                        <input type="hidden" name="userid" value="{{ user.id }}">
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="row portfolio-item">
                    {% if new %}
                    {% for game in new %}
                    <div style="max-height: 520px;" class="col-md-3 col-sm-6 new">
                        <div class="single-portfolio">
                            <div class="single-portfolio-img">
                                <a href="javascript:{document.getElementById('{{game.title}}').submit()}">
                                    <img id="portfolioImg" src="../../{{ game.coverimage }}" alt="portfolio" />
                                </a>
                            </div>
                            <div class="portfolio-content">
                                <h3>{{ game.title }}</h3>
                                <p style="color: rgb(118, 49, 246);">Point: {{ game.rating }} | 5.0 -
                                    {{game.publishyear}}</p>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'gamedetail' game.title%}" method="post" id="{{game.title}}"
                        style="display:none;">
                        {%csrf_token%}
                        <input type="hidden" name="userid" value="{{ user.id }}">
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
</section><!-- portfolio section end -->

{% endblock %}