<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- hero area start -->
<section class="hero-area" id="home">
  <div class="container">
    <div class="hero-area-slider">
      <div class="row hero-area-slide">
        <div class="col-lg-6 col-md-5">
          <div class="hero-area-content">
            <img src="../../static/img/slide2.png" alt="about" />
          </div>
        </div>
        <div class="col-lg-6 col-md-7">
          <div class="hero-area-content pr-50">
            <h2>Cyberpunk 2077</h2>
            <div class="review">
              <div class="author-review">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis itaque quam quae fugit deserunt voluptas ullam ratione, libero at cumque illum ipsa exercitationem facilis! Officiis sapiente maiores cupiditate a nostrum.</p>
            <div class="slide-trailor">
              <a class="theme-btn theme-btn2" href="game-details.html" style="float:right;"> For More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row hero-area-slide">
        <div class="col-lg-6 col-md-5">
          <div class="hero-area-content">
            <img src="../../static/img/slide1.png" alt="about" />
          </div>
        </div>
        <div class="col-lg-6 col-md-7">
          <div class="hero-area-content pr-50">
            <h2>The Witcher 3: Wild Hunt</h2>
            <div class="review">
              <div class="author-review">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, ipsum. Quae, quo dolores molestiae ex accusantium ea totam. Debitis officia vero esse porro sunt fugiat incidunt error impedit, unde suscipit.</p>
            <div class="slide-trailor">
              <a class="theme-btn theme-btn2" href="game-details.html" style="float:right;"> For More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row hero-area-slide">
        <div class="col-lg-6 col-md-5">
          <div class="hero-area-content">
            <img src="../../static/img/slide3.png" alt="about" />
          </div>
        </div>
        <div class="col-lg-6 col-md-7">
          <div class="hero-area-content pr-50">
            <h2>Batman Arkham City</h2>
            <div class="review">
              <div class="author-review">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nulla eaque, ad consectetur vitae eveniet laborum ullam iure numquam beatae accusantium, est possimus cumque nihil laboriosam? Perspiciatis quas fuga voluptatem!</p>
            <div class="slide-trailor">
              <a class="theme-btn theme-btn2" href="game-details.html" style="float:right;"> For More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-area-thumb">
      <div class="thumb-prev">
        <div class="row hero-area-slide">
          <div class="col-lg-6">
            <div class="hero-area-content">
              <img src="../../static/img/slide3.png" alt="about" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero-area-content pr-50">
              <h2>Batman Arkham City</h2>
              <div class="review">
                <div class="author-review">
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                </div>
              </div>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit sint culpa quia aut quod reiciendis quibusdam nemo, impedit provident laudantium dignissimos adipisci sunt! Qui hic pariatur ab ducimus molestiae iusto?</p>
              <div class="slide-trailor">
                <a class="theme-btn theme-btn2" href="game-details.html" style="float:right;"> For More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thumb-next">
        <div class="row hero-area-slide">
          <div class="col-lg-6">
            <div class="hero-area-content">
              <img src="../../static/img/slide1.png" alt="about" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero-area-content pr-50">
              <h2>Witcher 3</h2>
              <div class="review">
                <div class="author-review">
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nostrum dignissimos illum deleniti suscipit corrupti dicta eum architecto ipsum, perspiciatis distinctio? Labore porro facere iure voluptates quas mollitia debitis magni.</p>
              <div class="slide-trailor">
                <a class="theme-btn theme-btn2" href="game-details.html" style="float:right;"> For More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- hero area end -->
<!-- portfolio section start -->
<section class="portfolio-area pt-60" style="padding-bottom: 60px;">
  <div class="container">
    <div class="row flexbox-center">
      <div class="col-lg-6 text-center text-lg-left">
          <div class="section-title">
          <h1><i class="icofont icofont-game"></i> Popular Video Games</h1>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
          <div class="portfolio-menu">
          <ul>
            <li data-filter="*" class="active">Latest</li>
            <li data-filter=".soon">Coming Soon</li>
            <li data-filter=".top">Top Rated</li>
            <li data-filter=".released">Recently Released</li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-12">
        <div class="row portfolio-item">
          <div class="col-md-3 col-sm-6 soon released">
            <div class="single-portfolio">
              <div class="single-portfolio-img">
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio1.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>Cyberpunk 2077</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 top">
            <div class="single-portfolio">
              <div class="single-portfolio-img">									
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio2.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>The Witcher 3</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 soon">
            <div class="single-portfolio">
              <div class="single-portfolio-img">
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio3.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>Arkham City</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 top released">
            <div class="single-portfolio">
              <div class="single-portfolio-img">
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio4.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>God Of War</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 released">
            <div class="single-portfolio">
              <div class="single-portfolio-img">
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio5.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>Tomb Raider</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 soon top">
            <div class="single-portfolio">
              <div class="single-portfolio-img">
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio6.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>Dying Light 2</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 soon released">
            <div class="single-portfolio">
              <div class="single-portfolio-img">
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio1.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>Cyberpunk 2077</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 top">
            <div class="single-portfolio">
              <div class="single-portfolio-img">
                <a href="game-details.html">
                  <img src="../../static/img/portfolio/portfolio4.png" alt="portfolio" />
                </a>
              </div>
              <div class="portfolio-content">
                <h2>God Of War</h2>
                <div class="review">
                  <div class="author-review">
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                    <i class="icofont icofont-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- portfolio section end -->

{% endblock %}